## R

在R中，上述操作要如何进行呢？我们看一下。

In [1]:
#加载包与数据读取

library(tidyverse)

edu = read_csv('G:/Py/introduction-datascience-python-book-master/files/ch02/educ_figdp_1_Data.csv', na=":") %>%                   
 select(TIME,GEO,Value)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.0.0     √ purrr   0.2.5
√ tibble  1.4.2     √ dplyr   0.7.6
√ tidyr   0.8.1     √ stringr 1.3.1
√ readr   1.1.1     √ forcats 0.3.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Parsed with column specification:
cols(
  TIME = col_integer(),
  GEO = col_character(),
  INDIC_ED = col_character(),
  Value = col_double(),
  `Flag and Footnotes` = col_character()
)

### 行列选择

In [2]:
edu %>% select(Value) %>% head

  Value
1   NA
2   NA
3 5.00
4 5.03
5 4.95
6 4.92

In [4]:
edu %>% slice(10:13)

  TIME GEO                           Value
1 2009 European Union (28 countries) 5.38
2 2010 European Union (28 countries) 5.41
3 2011 European Union (28 countries) 5.25
4 2000 European Union (27 countries) 4.91

In [5]:
edu %>% filter(Value > 6.5) %>% tail

  TIME GEO     Value
1 2005 Malta   6.58
2 2010 Malta   6.74
3 2011 Malta   7.96
4 2009 Finland 6.81
5 2010 Finland 6.85
6 2011 Finland 6.76

In [7]:
edu %>% filter(is.na(Value)) %>% head

  TIME GEO                           Value
1 2000 European Union (28 countries) NA
2 2001 European Union (28 countries) NA
3 2000 Euro area (18 countries)      NA
4 2001 Euro area (18 countries)      NA
5 2000 Euro area (17 countries)      NA
6 2001 Euro area (17 countries)      NA

In [14]:
edu %>% summarize_all(funs(max(.,na.rm=T)))

  TIME GEO   Value
1 2011 Spain 8.81

In [16]:
edu %>% transmute(s = Value/100) %>% head

  s
1     NA
2     NA
3 0.0500
4 0.0503
5 0.0495
6 0.0492

In [31]:
edu %>% mutate(ValueNorm = Value/max(Value,na.rm=T)) -> edu
edu %>% head

  TIME GEO                           Value ValueNorm
1 2000 European Union (28 countries)   NA         NA
2 2001 European Union (28 countries)   NA         NA
3 2002 European Union (28 countries) 5.00  0.5675369
4 2003 European Union (28 countries) 5.03  0.5709421
5 2004 European Union (28 countries) 4.95  0.5618615
6 2005 European Union (28 countries) 4.92  0.5584563

In [32]:
edu %>% transmute(sqrt(Value)) %>% head

  sqrt(Value)
1       NA
2       NA
3 2.236068
4 2.242766
5 2.224860
6 2.218107

In [33]:
edu %>% transmute(Value**2) %>% head

  Value^2
1      NA
2      NA
3 25.0000
4 25.3009
5 24.5025
6 24.2064

In [34]:
edu %>% select(-ValueNorm) -> edu
edu %>% head

  TIME GEO                           Value
1 2000 European Union (28 countries)   NA
2 2001 European Union (28 countries)   NA
3 2002 European Union (28 countries) 5.00
4 2003 European Union (28 countries) 5.03
5 2004 European Union (28 countries) 4.95
6 2005 European Union (28 countries) 4.92

In [47]:
edu %>%
 add_row(TIME=2000,GEO=5,Value='a') -> edu
edu %>%
 tail

  TIME GEO     Value
1 2007 Finland 5.9
2 2008 Finland 6.1
3 2009 Finland 6.81
4 2010 Finland 6.85
5 2011 Finland 6.76
6 2000 5       a

In [48]:
edu %>% head(-1) -> edu
edu %>% tail

  TIME GEO     Value
1 2006 Finland 6.18
2 2007 Finland 5.9
3 2008 Finland 6.1
4 2009 Finland 6.81
5 2010 Finland 6.85
6 2011 Finland 6.76

In [49]:
edu %>% drop_na(Value) %>% head

  TIME GEO                           Value
1 2002 European Union (28 countries) 5
2 2003 European Union (28 countries) 5.03
3 2004 European Union (28 countries) 4.95
4 2005 European Union (28 countries) 4.92
5 2006 European Union (28 countries) 4.91
6 2007 European Union (28 countries) 4.92

In [50]:
edu %>% replace_na(replace=list(Value=0)) %>% head

  TIME GEO                           Value
1 2000 European Union (28 countries) 0
2 2001 European Union (28 countries) 0
3 2002 European Union (28 countries) 5
4 2003 European Union (28 countries) 5.03
5 2004 European Union (28 countries) 4.95
6 2005 European Union (28 countries) 4.92

## 分析

大家还是要记得，python的行是从0开始计算的，所以在python里面edu\[10:14\]其实取的是10-13行。另外，python中习惯用axis=0处理行问题，axis=1处理列问题；dplyr中，则用filter处理行，select处理列。python的inplace参数可以直接在原始数据中更改，有利有弊，能够方便一点节省时间，但是如果操作不当的时候则不是很安全，很容易无法恢复原始数据。