## R

下面看看R语言中实现相同操作的步骤：

In [1]:
#加载包与数据读取

library(tidyverse)

edu = read_csv('G:/Py/introduction-datascience-python-book-master/files/ch02/educ_figdp_1_Data.csv', na=":") %>%                   
 select(TIME,GEO,Value)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.0.0     √ purrr   0.2.5
√ tibble  1.4.2     √ dplyr   0.7.6
√ tidyr   0.8.1     √ stringr 1.3.1
√ readr   1.1.1     √ forcats 0.3.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Parsed with column specification:
cols(
  TIME = col_integer(),
  GEO = col_character(),
  INDIC_ED = col_character(),
  Value = col_double(),
  `Flag and Footnotes` = col_character()
)

### 排序

In [4]:
edu %>% 
 arrange(desc(Value)) %>% 
 head

  TIME GEO     Value
1 2010 Denmark 8.81
2 2011 Denmark 8.75
3 2009 Denmark 8.74
4 2001 Denmark 8.44
5 2002 Denmark 8.44
6 2004 Denmark 8.43

首先，要知道desc()加在Value前，就会变为降序排列，否则默认为升序。
这里，如果需要在原始数据中变更，赋值给本身即可，其实在原始数据中改数据是极其危险的，不推荐，应该总是用copy来操作，如果出错了随时回到原始备份再次copy。

### 分组

In [7]:
edu %>% 
 select(GEO,Value) %>%                           #选择指定列
 group_by(GEO) %>%                               #按照GEO分组
 summarize (Value = mean(Value,na.rm = T)) %>%   #按照分组计算Value的均值，忽略缺失值
 head()                                          #取前几行进行展示

  GEO            Value
1 Austria        5.618333
2 Belgium        6.189091
3 Bulgaria       4.093333
4 Cyprus         7.023333
5 Czech Republic 4.168333
6 Denmark        8.331667

### 整合

In [12]:
edu %>% filter(TIME > 2005) %>% spread(key = TIME,value = Value) -> pivedu
pivedu %>% head

  GEO            2006 2007 2008 2009 2010 2011
1 Austria        5.40 5.33 5.47 5.98 5.91 5.80
2 Belgium        5.98 6.00 6.43 6.57 6.58 6.55
3 Bulgaria       4.04 3.88 4.44 4.58 4.10 3.82
4 Cyprus         7.02 6.95 7.45 7.98 7.92 7.87
5 Czech Republic 4.42 4.05 3.92 4.36 4.25 4.51
6 Denmark        7.97 7.81 7.68 8.74 8.81 8.75

## 分析

同样的步骤，不同的表达，大同小异。

## 温馨提示

后面所有的教程都会坚持用最简单的例子，这样有一点不会的同学也能够很容易通过查询进行扩展。如果个别函数不知道如何使用，请使用?来查询使用方法，如R中“?spread”。