## R

尽量简洁地解决上面提到的问题，在R中。

In [1]:
#载入包

pacman::p_load(tidyverse,forecast)

file_path = "G:/Py/practical-machine-learning-with-python-master/notebooks/Ch04_Feature_Engineering_and_Selection/"

### 原始数据特征

In [2]:
read_csv(paste0(file_path,"datasets/Pokemon.csv")) -> poke_df
poke_df %>% head

Parsed with column specification:
cols(
  `#` = col_integer(),
  Name = col_character(),
  `Type 1` = col_character(),
  `Type 2` = col_character(),
  Total = col_integer(),
  HP = col_integer(),
  Attack = col_integer(),
  Defense = col_integer(),
  `Sp. Atk` = col_integer(),
  `Sp. Def` = col_integer(),
  Speed = col_integer(),
  Generation = col_character(),
  Legendary = col_logical()
)

  # Name                  Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def
1 1 Bulbasaur             Grass  Poison 318   45  49     49      65      65
2 2 Ivysaur               Grass  Poison 405   60  62     63      80      80
3 3 Venusaur              Grass  Poison 525   80  82     83     100     100
4 3 VenusaurMega Venusaur Grass  Poison 625   80 100    123     122     120
5 4 Charmander            Fire   NA     309   39  52     43      60      50
6 5 Charmeleon            Fire   NA     405   58  64     58      80      65
  Speed Generation Legendary
1 45    Gen 1      FALSE
2 60    Gen 1      FALSE
3 80    Gen 1      FALSE
4 80    Gen 1      FALSE
5 65    Gen 1      FALSE
6 80    Gen 1      FALSE

In [3]:
poke_df %>% select(HP,Attack,Defense) %>% head

  HP Attack Defense
1 45  49     49
2 60  62     63
3 80  82     83
4 80 100    123
5 39  52     43
6 58  64     58

In [4]:
poke_df %>% select(HP,Attack,Defense) %>% summary

       HP             Attack       Defense
 Min.   :  1.00   Min.   :  5   Min.   :  5.00
 1st Qu.: 50.00   1st Qu.: 55   1st Qu.: 50.00
 Median : 65.00   Median : 75   Median : 70.00
 Mean   : 69.26   Mean   : 79   Mean   : 73.84
 3rd Qu.: 80.00   3rd Qu.:100   3rd Qu.: 90.00
 Max.   :255.00   Max.   :190   Max.   :230.00

In [5]:
read_csv(paste0(file_path,"datasets/song_views.csv")) -> popsong_df
popsong_df %>% head(10)

Parsed with column specification:
cols(
  user_id = col_character(),
  song_id = col_character(),
  title = col_character(),
  listen_count = col_integer()
)

   user_id                                  song_id            title
1  b6b799f34a204bd928ea014c243ddad6d0be4f8f SOBONKR12A58A7A7E0 You're The One
2  b41ead730ac14f6b6717b9cf8859d5579f3f8d4d SOBONKR12A58A7A7E0 You're The One
3  4c84359a164b161496d05282707cecbd50adbfc4 SOBONKR12A58A7A7E0 You're The One
4  779b5908593756abb6ff7586177c966022668b06 SOBONKR12A58A7A7E0 You're The One
5  dd88ea94f605a63d9fc37a214127e3f00e85e42d SOBONKR12A58A7A7E0 You're The One
6  68f0359a2f1cedb0d15c98d88017281db79f9bc6 SOBONKR12A58A7A7E0 You're The One
7  116a4c95d63623a967edf2f3456c90ebbf964e6f SOBONKR12A58A7A7E0 You're The One
8  45544491ccfcdc0b0803c34f201a6287ed4e30f8 SOBONKR12A58A7A7E0 You're The One
9  e701a24d9b6c59f5ac37ab28462ca82470e27cfb SOBONKR12A58A7A7E0 You're The One
10 edc8b7b1fd592a3b69c3d823a742e1a064abec95 SOBONKR12A58A7A7E0 You're The One
   listen_count
1   2
2   0
3   0
4   0
5   0
6   0
7  17
8   0
9  68
10  0

### 二值化

In [6]:
popsong_df %>%
 mutate(watched = ifelse(listen_count > 0,1,0)) %>%
 head(10)

   user_id                                  song_id            title
1  b6b799f34a204bd928ea014c243ddad6d0be4f8f SOBONKR12A58A7A7E0 You're The One
2  b41ead730ac14f6b6717b9cf8859d5579f3f8d4d SOBONKR12A58A7A7E0 You're The One
3  4c84359a164b161496d05282707cecbd50adbfc4 SOBONKR12A58A7A7E0 You're The One
4  779b5908593756abb6ff7586177c966022668b06 SOBONKR12A58A7A7E0 You're The One
5  dd88ea94f605a63d9fc37a214127e3f00e85e42d SOBONKR12A58A7A7E0 You're The One
6  68f0359a2f1cedb0d15c98d88017281db79f9bc6 SOBONKR12A58A7A7E0 You're The One
7  116a4c95d63623a967edf2f3456c90ebbf964e6f SOBONKR12A58A7A7E0 You're The One
8  45544491ccfcdc0b0803c34f201a6287ed4e30f8 SOBONKR12A58A7A7E0 You're The One
9  e701a24d9b6c59f5ac37ab28462ca82470e27cfb SOBONKR12A58A7A7E0 You're The One
10 edc8b7b1fd592a3b69c3d823a742e1a064abec95 SOBONKR12A58A7A7E0 You're The One
   listen_count watched
1   2           1
2   0           0
3   0           0
4   0           0
5   0           0
6   0           0
7  17           1
8   0           0
9  68           1
10  0           0

### 取整

In [7]:
read_csv(paste0(file_path,"datasets/item_popularity.csv")) -> items_popularity
items_popularity

Parsed with column specification:
cols(
  item_id = col_character(),
  pop_percent = col_double()
)

  item_id  pop_percent
1 it_01345 0.98324
2 it_03431 0.56123
3 it_04572 0.12098
4 it_98021 0.35476
5 it_01298 0.92101
6 it_90120 0.81212
7 it_10123 0.56502

In [8]:
items_popularity %>%
 mutate(popularity_scale_10 = round(pop_percent * 10)) %>%
mutate(popularity_scale_100 = round(pop_percent * 100))

  item_id  pop_percent popularity_scale_10 popularity_scale_100
1 it_01345 0.98324     10                  98
2 it_03431 0.56123      6                  56
3 it_04572 0.12098      1                  12
4 it_98021 0.35476      4                  35
5 it_01298 0.92101      9                  92
6 it_90120 0.81212      8                  81
7 it_10123 0.56502      6                  57

### 交互项构造

In [9]:
poke_df %>% select(Attack,Defense) -> atk_def
atk_def %>% head

  Attack Defense
1  49     49
2  62     63
3  82     83
4 100    123
5  52     43
6  64     58

In [10]:
#需要平方项的同学请自行添加
as_tibble(model.matrix(~ .^2-1,atk_def)) %>% head

  Attack Defense Attack:Defense
1  49     49      2401
2  62     63      3906
3  82     83      6806
4 100    123     12300
5  52     43      2236
6  64     58      3712

### 分箱

In [11]:
#读数据

read_csv(paste0(file_path,"datasets/fcc_2016_coder_survey_subset.csv")) -> fcc_survey_df

fcc_survey_df %>% select('ID.x', 'EmploymentField', 'Age', 'Income') %>% head

Parsed with column specification:
cols(
  ID.x = col_character(),
  Age = col_integer(),
  ChildrenNumber = col_integer(),
  CountryCitizen = col_character(),
  EmploymentField = col_character(),
  EmploymentStatus = col_character(),
  ExpectedEarning = col_integer(),
  Gender = col_character(),
  Income = col_integer(),
  JobPref = col_character(),
  JobRoleInterest = col_character(),
  LanguageAtHome = col_character(),
  MaritalStatus = col_character(),
  SchoolDegree = col_character(),
  StudentDebtOwe = col_integer()
)

  ID.x                             EmploymentField                       Age
1 cef35615d61b202f1dc794ef2746df14 office and administrative support     28
2 323e5a113644d18185c743c241407754 food and beverage                     22
3 b29a1027e5cd062e654a63764157461d finance                               19
4 04a11e4bcb573a1261eb0d9948d32637 arts, entertainment, sports, or media 26
5 9368291c93d5d5f5c8cdb1a575e18bec education                             20
6 dd0e77eab9270e4b67c19b0d6bbf621b finance                               34
  Income
1 32000
2 15000
3 48000
4 43000
5  6000
6 40000

In [12]:
#根据年龄的十位数分箱

fcc_survey_df %>% 
 mutate(Age_bin_round = floor(Age/10)) %>% 
 select('ID.x', 'Age', 'Age_bin_round') %>%
 slice(1071:1076)

  ID.x                             Age Age_bin_round
1 44796ca3775fcfbe5076c720d7d771c3 37  3
2 6a02aa4618c99fdb3e24de522a099431 17  1
3 f0e5e47278c5f248fe861c5f7214c07a 38  3
4 6e14f6d0779b7e424fa3fdd9e4bd3bf9 21  2
5 c2654c07dc929cdf3dad4d1aec4ffbb3 53  5
6 f07449fc9339b2e57703ec7886232523 35  3

In [13]:
#自定义标准

fcc_survey_df %>%
 mutate(Age_bin_custom_range = cut(Age,breaks = c(0, 15, 30, 45, 60, 75, 100))) %>%
 mutate(Age_bin_custom_label = cut(Age,
                                  breaks = c(0, 15, 30, 45, 60, 75, 100),
                                 labels = 1:6)) %>%
 slice(1071:1076) %>%
 select('ID.x', 'Age', 'Age_bin_custom_range', 'Age_bin_custom_label')

  ID.x                             Age Age_bin_custom_range
1 44796ca3775fcfbe5076c720d7d771c3 37  (30,45]
2 6a02aa4618c99fdb3e24de522a099431 17  (15,30]
3 f0e5e47278c5f248fe861c5f7214c07a 38  (30,45]
4 6e14f6d0779b7e424fa3fdd9e4bd3bf9 21  (15,30]
5 c2654c07dc929cdf3dad4d1aec4ffbb3 53  (45,60]
6 f07449fc9339b2e57703ec7886232523 35  (30,45]
  Age_bin_custom_label
1 3
2 2
3 3
4 2
5 4
6 3

如果你发现跟python数据对不上，那就对了，因为python的[1071:1076]其实是1072到1076列，因为python是从0开始的，怎么样，够坑吧？

In [14]:
#四分位数划分
fcc_survey_df %>%
 mutate(income_quantile_labels = ntile(Income,4)) %>%
 select('ID.x', 'Age', 'Income', 'income_quantile_labels') %>% 
 slice(4:9)

  ID.x                             Age Income income_quantile_labels
1 04a11e4bcb573a1261eb0d9948d32637 26  43000  3
2 9368291c93d5d5f5c8cdb1a575e18bec 20   6000  1
3 dd0e77eab9270e4b67c19b0d6bbf621b 34  40000  3
4 7599c0aa0419b59fd11ffede98a3665d 23  32000  2
5 6dff182db452487f07a47596f314bddc 35  40000  3
6 9dc233f8ed1c6eb2432672ab4bb39249 33  80000  4

### 数学转换

#### 对数变换

In [15]:
fcc_survey_df %>% 
 mutate(Income_log = log(Income +1)) %>% 
 slice(4:9) %>%
 select('ID.x', 'Age', 'Income', 'Income_log')

  ID.x                             Age Income Income_log
1 04a11e4bcb573a1261eb0d9948d32637 26  43000  10.668979
2 9368291c93d5d5f5c8cdb1a575e18bec 20   6000   8.699681
3 dd0e77eab9270e4b67c19b0d6bbf621b 34  40000  10.596660
4 7599c0aa0419b59fd11ffede98a3665d 23  32000  10.373522
5 6dff182db452487f07a47596f314bddc 35  40000  10.596660
6 9dc233f8ed1c6eb2432672ab4bb39249 33  80000  11.289794

#### Box-Cox变换

In [16]:
fcc_survey_df %>% 
 mutate(Income_boxcox = BoxCox(Income,BoxCox.lambda(Income))) %>%
 select('ID.x', 'Age', 'Income', 'Income_boxcox') %>%
 slice(4:9)

  ID.x                             Age Income Income_boxcox
1 04a11e4bcb573a1261eb0d9948d32637 26  43000  6.858543
2 9368291c93d5d5f5c8cdb1a575e18bec 20   6000  6.033429
3 dd0e77eab9270e4b67c19b0d6bbf621b 34  40000  6.830758
4 7599c0aa0419b59fd11ffede98a3665d 23  32000  6.743882
5 6dff182db452487f07a47596f314bddc 35  40000  6.830758
6 9dc233f8ed1c6eb2432672ab4bb39249 33  80000  7.089762

这里用的Box-Cox用的是forcast包，先计算最优参数，然后代入求BoxCox转化后的数值。