##  R

下面来看在R中如何实现相同步骤。

### 数据导入与审视

In [1]:
#读取

library(tidyverse)

read_csv("G:/Py/introduction-datascience-python-book-master/files/ch03/adult.data",col_names = F) -> df

#设置列名称
names(df) = c('age', 'type_employer', 'fnlwgt', 'education', 
                "education_num","marital", "occupation", "relationship", "race","sex",
                "capital_gain", "capital_loss", "hr_per_week","country","income")

#观察前几行
df %>% head

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.0.0     √ purrr   0.2.5
√ tibble  1.4.2     √ dplyr   0.7.6
√ tidyr   0.8.1     √ stringr 1.3.1
√ readr   1.1.1     √ forcats 0.3.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Parsed with column specification:
cols(
  X1 = col_integer(),
  X2 = col_character(),
  X3 = col_integer(),
  X4 = col_character(),
  X5 = col_integer(),
  X6 = col_character(),
  X7 = col_character(),
  X8 = col_character(),
  X9 = col_character(),
  X10 = col_character(),
  X11 = col_integer(),
  X12 = col_integer(),
  X13 = col_integer(),
  X14 = col_character(),
  X15 = col_character()
)

  age type_employer    fnlwgt education education_num marital
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hr_per_week country       income
1 40          United-States <=50K
2 13          United-States <=50K
3 40          United-States <=50K
4 40          United-States <=50K
5 40          Cuba          <=50K
6 40          United-States <=50K

In [2]:
#观察后几行
df %>% tail

  age type_employer fnlwgt education    education_num marital
1 22  Private       310152 Some-college 10            Never-married
2 27  Private       257302 Assoc-acdm   12            Married-civ-spouse
3 40  Private       154374 HS-grad       9            Married-civ-spouse
4 58  Private       151910 HS-grad       9            Widowed
5 22  Private       201490 HS-grad       9            Never-married
6 52  Self-emp-inc  287927 HS-grad       9            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Protective-serv   Not-in-family White Male       0        0
2 Tech-support      Wife          White Female     0        0
3 Machine-op-inspct Husband       White Male       0        0
4 Adm-clerical      Unmarried     White Female     0        0
5 Adm-clerical      Own-child     White Male       0        0
6 Exec-managerial   Wife          White Female 15024        0
  hr_per_week country       income
1 40          United-States <=50K
2 38          United-States <=50K
3 40          United-States >50K
4 40          United-States <=50K
5 20          United-States <=50K
6 40          United-States >50K

In [3]:
df %>% dim

[1] 32561    15

In [4]:
df %>% count(country)

   country                    n
1  ?                            583
2  Cambodia                      19
3  Canada                       121
4  China                         75
5  Columbia                      59
6  Cuba                          95
7  Dominican-Republic            70
8  Ecuador                       28
9  El-Salvador                  106
10 England                       90
11 France                        29
12 Germany                      137
13 Greece                        29
14 Guatemala                     64
15 Haiti                         44
16 Holand-Netherlands             1
17 Honduras                      13
18 Hong                          20
19 Hungary                       13
20 India                        100
21 Iran                          43
22 Ireland                       24
23 Italy                         73
24 Jamaica                       81
25 Japan                         62
26 Laos                          18
27 Mexico                       643
28 Nicaragua                     34
29 Outlying-US(Guam-USVI-etc)    14
30 Peru                          31
31 Philippines                  198
32 Poland                        60
33 Portugal                      37
34 Puerto-Rico                  114
35 Scotland                      12
36 South                         80
37 Taiwan                        51
38 Thailand                      18
39 Trinadad&Tobago               19
40 United-States              29170
41 Vietnam                       67
42 Yugoslavia                    16

### 数据分割

In [6]:
df %>% filter(sex == 'Male') -> ml
df %>% filter(sex == 'Male',income == '>50K\n') -> ml1
df %>% filter(sex == 'Female') -> fml
df %>% filter(sex == 'Female',income == '>50K\n') -> fml1
df %>% filter(income == '>50K\n') -> df1

### 基本统计量展示

In [13]:
ml %>% pull(age) %>% mean -> ml_mu
ml %>% pull(age) %>% var -> ml_var
ml %>% pull(age) %>% sd -> ml_std
ml %>% pull(age) %>% median -> ml_median

print(c(ml_mu,ml_var,ml_std,ml_median))

[1]  39.43355 178.77375  13.37063  38.00000

### 清除离群点

In [18]:
df %>%dim

[1] 32561    15

In [21]:
df %>% pull(hr_per_week) %>% sd -> hr_sd
df %>% pull(hr_per_week) %>% median -> hr_median

df %>%
 filter(hr_per_week <= (hr_median + 3*hr_median) | 
        hr_per_week >= (hr_median - 3*hr_median))  -> df2

dim(df2)

[1] 32561    15

上面的操作本质是筛选在上下界之间的数据点。

## 分析

在清楚离群点的时候，两个语言用的函数和思路不一样，需要体会一下。值得注意的是，使用dplyr管道的时候要随时注意数据集的改变，因此对中位数和标准差的计算需要在外部进行，然后在最后的函数中直接以常数的形式被利用。